snippet css "css link tag (erb)" b
<link rel="stylesheet" type="text/css" href="${1:href}" />$0
endsnippet

snippet script "script tag (erb)" b
<script type="text/javascript">$0</script>
endsnippet

snippet scriptref "script import tag (erb)" b
<script type="text/javascript" src="${1:href}"></script>$0
endsnippet
